apipkg==1.5
attrs==21.2.0
contextlib2==0.6.0.post1
execnet==1.8.1
iniconfig==1.1.1
mock==4.0.3
numpy==1.20.3
packaging==20.9
pandas==1.2.4
path==15.1.2
path.py==12.5.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-shutil==1.7.0
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
termcolor==1.1.0
toml==0.10.2
